{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <section id="about" class="s-about">
        <div class="section1">
            <h1 class="head2">Welcome To Onyx</h1>
        </div> <!-- end section-header -->
        <div class = "aboutus">
            <h4> About Us </h4>
        </div>
        <div class="row about-desc aos-init aos-animate" data-aos="fade-up">
            <div class="col-full">
                <p>
                    We are a family of brands, driven by our desire to make great
                    design available to everyone in a sustainable way. Together we
                    offer fashion, design and services, that enable people to be inspired
                    and to express their own personal style, making it easier to live
                    in a more circular way.
                </p>
            </div>
        </div> <!-- end about-desc -->
    </section>
{% endblock content %}