.main-content
{
padding-left: 130px;
padding-top: 170px;
width:600px;
background-color:transparent;
height:160px;
}


.header_text
{
width:100px;
background-color:transparent;
height:100px;
padding-top: 20px;
padding-left:130px;

}

.section2
{
width:700px;
height:100px;
padding-left:385px;
margin-right:auto;
font-size: 10px;
}

.maintext
{
 width:1000px;
}